body{
 
}

h4{
	color: white;
	font-size: 40px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

.normal-d{
	background: #E6DADA; /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #E6DADA , #274046); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #E6DADA , #274046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.bad-d{
	background: #8E0E00; /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #8E0E00 , #1F1C18); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #8E0E00 , #1F1C18); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.good-d{
	background: #1D976C; /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #1D976C , #93F9B9); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #1D976C , #93F9B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-repeat: no-repeat;
	background-attachment: fixed;
}